<div class="row">
  <%= link_to "New workout", new_workout_url, class: 'btn btn-primary' %>
</div>
<% if @workouts %>
  <% @workouts.each do |workout| %>
    <table class="table table_hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= workout.name %></td>
          <td><%= workout.type %></td>
        </tr>
    </table>
  <% end %>
<% end %>
